@import "./../../utils/styles/styles.scss";

.check {
    visibility: hidden;
    width: auto;
    margin-right: 8px;
    color: $icon-color;
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
    scale: 1.2;
    display: flex;
    &--selected{
        visibility: visible;
    }
}

.option {
    @include center-div;
    padding: 8px 16px 8px 12px;
    color: $text-color;
    align-items: center;
}

.selected {
        font-weight: bold;
    }