@import "utils/styles/styles.scss";

.blocker{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: ' ';
        z-index: 9;
}

.suggestions {
    &--container{
        position: relative;
    }
    max-height: 380px;
    width: 424px;
    background-color: white;
    position: absolute;
    top: -15px;
    z-index: 10;
    border-radius: $border-radius;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    overflow: hidden auto;
    &--option{
        height: 65px;
        display: flex;
        align-items: center;
        color: $third-text-color;
        &:hover{
            background-color: rgb(246, 246, 246);
        }
    }
    &--icon{
        color: $third-text-color;
        scale: 1.2;
        padding-left: 15px;
        padding-right: 15px;
    }
}