@import "./variables.scss";

@mixin center-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin input {
    height: 48px;
    font-weight: 400;
    background-color: $background-color;
    margin: $input-margin;
    border: 1px solid $background-color;
}

