$border-radius: 8px;
$box-shadow: 0, 4px, 8px, rgba(19,41,104,.1);
$background-color: #f1f2f6;
$text-color: rgb(19, 41, 104);
$second-text-color: rgb(113, 127, 164);
$third-text-color: rgb(66, 84, 134);
$icon-color: rgb(94, 144, 204);
$second-icon-color: #a1a9c3;
$icon-invalid-color: rgb(220, 223, 233);
