@import "./../../utils/styles/styles.scss";

.searchButton{
    background-color: $button-color;
    width: 100%;
    display: flex;
    text-align: center;
    padding: 0px 16px;
    border-radius: $border-radius;
    cursor: pointer;
    font-family: 'Arimo',Arial,sans-serif;
    border: 0;
    height: 48px;
    justify-content: center;
    align-items: center;
    color: white;
    margin: $input-margin;
}