@import "utils/styles/styles.scss";

.returnParams{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset, rgba(19, 41, 104, 0.2) 0px 16px 16px 0px;
    background-color: rgb(255, 255, 255);
    min-width: 140px;
    height: 80px;
    padding: 8px 0px;
    position: absolute;
    top: 66px;
    z-index: 4;
    transition: all 0.2s cubic-bezier(0.6, 0, 0.7, 1) 0s;
    font-size: 16px;
    border-radius: $border-radius;
}