.params--container{
    display: flex;
    flex-direction: column;
    height: 32px;
    margin-right: 2px;
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    z-index: 1;
}