@import "utils/styles/styles.scss";

.inputContainer{
    @media screen and (min-width: $tablet) {
        display: flex;
        height: 48px;
    }
    &--destination{
        @media screen and (min-width: $tablet) {
            margin-left: 8px;
        }
    }
}