@import "utils/styles/styles.scss";

.input{
    &__container{
       display: flex;
       flex-direction: row;
       position: relative;
       @media screen and (min-width: $tablet) {
        width: 152px;
    }
    @media screen and (min-width: $desktop) {
        width: 244px;
    }
    }
    &:focus{
        &-visible{
            outline: none;
        }
        border: 1px solid $second-icon-color;
        outline: none;
    }
    &:hover{
        border: 1px solid $second-icon-color;
    }
    @include input;
    width: 100%; 
    padding: 0px 12px 0px 40px;
    font-weight: 400;
    border-radius: $border-radius;
    border: 1px solid $background-color;
    text-overflow: ellipsis;
    color: $text-color;
    &--icon{
        position: absolute;
        top: 20px;
        left: 14px;
        scale: 1.2;
        z-index: 3;
        color: $second-icon-color;
    }
    &--swap{
        scale: 1.3;
        position: absolute;
        top: 20px;
        right: 12px;
        z-index: 2;
        color: $icon-color;
        &:hover{
            cursor: pointer;
        }
        @media screen and (min-width: $tablet) {
            right: 20px;
            rotate: 90deg;
        }
    }
    z-index: 2;
    @media screen and (min-width: $tablet) {
        margin-right: 8px;
        padding-right: 30px;
    }
}